body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div-container {
    display: grid;
    width: 750px;
    height: 750px;
    border: 1px solid;
}